a[onclick] {
    color: #000;
}

[src^="http://"]:not(a):not(audio):not(video) {
    object-fit: contain;
}

#back {
    filter: hue-rotate(-31.5deg) brightness(1.52);
}

#el1 {
    flex-grow: 1;
}

#term, footer {
    font-family: "Cascadia Code", monospace;
    font-size: 12.5px;
}

a, .song-card * {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
}

footer {
    position: fixed;
    top: calc(100% - 1.2em);
    background: #ccc;
    color: #000;
    left: 0;
    width: 100%;
    height: 1.2em;
    overflow: hidden;
    padding: 0 .3em;
    border-top: .5px solid #FFFA;
    text-overflow: ellipsis;
    white-space: nowrap;
}

span:nth-child(2) {
    min-width: 0; 
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

#frame * {
    position: relative;
}

.player, .player span, li {
    gap: 5px;
}

.player span {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.player > :not(:nth-child(2)), button {
    flex-shrink: 0;
}

.player button {
    width: 2em;
    height: 2em;
}

.popup {
    backdrop-filter: blur(3em);
    background: #111D;
    padding: 1em;
    box-shadow: 0 0 0 100vmax rgba(0,0,0,.5);
    opacity: .96;
    position: fixed;
}

.bar {
    * {
        user-select: auto;
    }
    :first-child {
        text-wrap: pretty;
        overflow-x: hidden;
        align-self: center;
    }
    button {
        min-width: 2.1em;
        height: 2.1em;
    }
    .active {
        background: mediumvioletred;
    }
}

[data-title="Shortcuts"] {
    li {
        > :first-child {
            font-style: italic;
        }
        > :last-child {
            justify-content: end;
            text-align: end;
        }
        &:first-child {
            font-weight: bold;
            a { font-style: normal }
            span { text-decoration: underline; color: burlywood }
        }
        &:not(:first-child) a {
            font-family: monospace;
            line-height: 1.5em;
            color: burlywood;
        }
    }
}

:root {
    word-break: auto-phrase;
}

.hidden {
    display: none!important;
}

.lyrics {
    overflow-y: auto;
    font-size: large;
}

.lyrics .lyrics-text {
    color: #bbb;
    margin: 3px;
    font-size: 100%;
    text-wrap: pretty;
    transition: color .1s ease;
}

.lyrics .lyrics-text.active {
    color: white;
    font-weight: bold;
}

.lyrics .lyrics-text div {
    color: inherit;
}

.pending {
    position: absolute;
    height: 0;
    z-index: -100;
}

@keyframes move-bg {
    0% {
        background-position: -100% 0%;
    }
    100% {
        background-position: 100% 0%;
    }
}

.song-card {
    display: flex!important;
    flex-direction: row;
    gap: 5px;
    font-size: .9em;
    * {
        pointer-events: none;
    }
    .cover {
        height: 3.5em;
        width: 3.5em;
        border-radius: 5px;
        flex-shrink: 0;
        background: linear-gradient(45deg, #111 0%, #222 15%, #333 25%, #222 35%, #111 50%, #222 65%, #333 75%, #222 85%, #111 100%);
        background-size: 200% 200%;
        animation: move-bg 2s ease infinite paused;
        img {
            height: 100%;
            aspect-ratio: 1/1;
            object-fit: cover;
            transition: opacity .2s ease;
        }
        &.loading {
            animation-play-state: running;
            img {
                opacity: 0;
            }
        }
    }
    .info {
        .artist {
            color: #aaa;
        }
    }
}

.vscroll > div {
    will-change: transform;
}
