* {
    user-select: none;
}

a[onclick] {
    color: #000;
}

[src^="http://"]:not(a):not(audio):not(video) {
    object-fit: contain;
}

#back {
    filter: hue-rotate(-31.5deg) brightness(1.52);
}

#term, footer {
    font-family: "Cascadia Code", monospace;
    font-size: 12.5px;
}

a, .song-card * {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
}

footer {
    position: fixed;
    bottom: 0;
    background: #ccc;
    color: #000;
    left: 0;
    width: 100%;
    height: 1.2em;
    overflow: hidden;
    padding: 0 .3em;
    border-top: .5px solid #FFFA;
    text-overflow: ellipsis;
    white-space: nowrap;
}

span:nth-child(2) {
    flex-grow: 1;
}

#frame * {
    position: relative;
}

.player {
    align-items: end;
}

.player, .player span, li {
    gap: 5px;
}

.player span {
    display: flex;
    align-items: center;
}

.player > :not(:nth-child(2)), button {
    flex-shrink: 0;
}

.player button {
    width: 2em;
    height: 2em;
}

.player > :nth-child(2) {
    text-align: center;
    display: inline-block;
    align-self: center;
    overflow: hidden;
    overflow-wrap: break-word;
}

#el1 {
    white-space: unset;
}

.popup {
    backdrop-filter: blur(3em);
    background: #111D;
    padding: 1em;
    box-shadow: 0 0 0 100vmax rgba(0,0,0,.5);
    opacity: .96;
    position: fixed;
}

.bar {
    gap: 5px;
    * {
        user-select: auto;
    }
    :first-child {
        text-wrap: pretty;
        overflow-x: hidden;
        align-self: center;
    }
    button {
        min-width: 2.1em;
        height: 2.1em;
    }
    .active {
        background: mediumvioletred;
    }
}

[data-title="Shortcuts"] {
    li {
        > :first-child {
            font-style: italic;
        }
        > :last-child {
            justify-content: end;
            text-align: end;
        }
        &:first-child {
            font-weight: bold;
            a { font-style: normal }
            span { text-decoration: underline; color: burlywood }
        }
        &:not(:first-child) a {
            font-family: monospace;
            line-height: 1.5em;
            color: burlywood;
        }
    }
}

:root {
    word-break: auto-phrase;
}

.hidden {
    display: none!important;
}

.lyrics {
    flex: 1;
    overflow-y: auto;
    font-size: large;
    min-height: 0;
}

.lyrics .lyrics-text {
    color: #bbb;
    margin: 3px;
    font-size: 100%;
    text-wrap: pretty;
    transition: color .1s ease;
    &.active, & > .active {
        color: white;
        font-weight: bold;
    }
}

.lyrics .lyrics-text div {
    color: inherit;
}

.lyrics .lyrics-text.loading {
    --pulse-color: #eee;
    animation: breathe 1s ease infinite alternate
}

.lyrics button {
    min-width: 1.6em;
    height: 1.6em;
}

.lyrics .offset {
    min-width: 4em;
}

.pending {
    position: absolute;
    height: 0;
    z-index: -100;
}

@keyframes breathe {
    to {
        color: var(--pulse-color);
    }
}

@keyframes move-bg {
    0% {
        background-position: -100% 0%;
    }
    100% {
        background-position: 100% 0%;
    }
}

.song-card {
    display: flex!important;
    flex-direction: row;
    gap: 5px;
    font-size: .9em;
    * {
        pointer-events: none;
    }
    .cover {
        height: 3.5em;
        width: 3.5em;
        border-radius: 5px;
        flex-shrink: 0;
        background: var(--cover-src), linear-gradient(45deg, #111 0%, #222 30%, #333 50%, #222 70%, #111 100%);
        background-size: cover;
    }
    .info {
        .artist {
            color: #aaa;
        }
    }
}

.vscroll > div {
    will-change: transform;
}

.player-ui {
    flex: 2 0;
    max-height: 0;
    min-height: 0;
    overflow: hidden;
    opacity: 0;
    &.open {
        max-height: 100%;
        min-height: 100%;
        opacity: 1;
    }
    &, .container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: .5em;
        min-height: 0;
        transition: gap .2s linear;
    }
    .cover {
        max-height: 100%;
        max-width: 90%;
        width: calc(min(90%, 40dvh));
        border-radius: 1em;
        overflow: hidden;
        background: linear-gradient(45deg, #111 0%, #222 15%, #333 25%, #222 35%, #111 50%, #222 65%, #333 75%, #222 85%, #111 100%);
        background-size: 200% 200%;
        animation: move-bg 2s ease infinite paused;
        aspect-ratio: 1/1;
        flex-shrink: 0;
        img {
            width: 100%;
            height: 100%;
            aspect-ratio: 1/1;
            object-fit: cover;
            transition: opacity .2s ease;
        }
        &.loading {
            animation-play-state: running;
            img {
                opacity: 0;
            }
        }
    }
    .info {
        max-height: 2.5em;
        width: 100%;
        text-align: center;
        text-wrap: nowrap;
        margin-top: .5em;
        overflow: hidden;
        position: relative;
    }
    .info * {
        text-overflow: ellipsis;
        overflow: hidden;
    }
    .title {
        font-weight: bold;
        color: #fff;
    }
    .control-group {
        max-height: calc(5.4em + 4px);
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: .5em;
        button {
            background: none;
            width: 3em;
            height: 3em;
            border-radius: 50%;
            border: none;
        }
    }
    .controls {
        gap: 1em;
        display: flex;
        align-items: center;
    }
    button:not(.outline) {
        box-shadow: none;
    }
    button.outline {
        border: 1px solid #fff3;
    }
    button.play {
        width: 4em;
        height: 4em;
    }
    button.mode {
        scale: 85%;
    }
    button svg {
        width: 100%;
        height: 100%;
        stroke: #fff;
    }
    .next svg {
        transform: scaleX(-1);
    }
    .scrubber-group {
        width: 90%;
        padding-top: .5em;
        &, * {
            touch-action: none;
        }
        * {
            pointer-events: none;
        }
    }
    .repeat {
        position: relative;
    }
    .repeat::after {
        content: "1";
        position: absolute;
        bottom: .7em;
        right: .7em;
        font-size: .6em;
        width: 1.2em;
        padding: .1em;
        font-weight: bold;
        line-height: 1.2em;
        margin: auto;
        border-radius: 50%;
        color: #fff;
        background: #222;
        border: 1px solid #fff;
    }
    .scrubber {
        height: 4px;
        border-radius: 4px;
        background: #ccca;
    }
    .progress {
        height: 4px;
        min-width: 4px;
        border-radius: 4px;
        background: #fff;
    }
    .time-display {
        font-size: .9em;
        display: flex;
    }
    .spacer {
        flex-grow: 1;
    }
    .lyrics {
        width: 100%;
    }
    &, .cover, .container > * {
        transition: opacity .2s linear, min-height .2s linear, max-height .2s linear, max-width .3s linear;
    }
    &:has(.lyrics.expanded) {
        &, .container {
            gap: 0;
        }
        .cover {
            max-width: 0;
        }
        .cover, .container > :not(.lyrics) {
            max-height: 0;
            overflow: hidden;
            opacity: 0;
        }
    }
    .lyrics:not(.expanded) {
        overflow: hidden;
        * {
            pointer-events: none;
        }
        .overlay {
            display: none;
        }
    }
}

#main > :not(.player-ui) {
    transition: opacity .2s linear;
    flex-shrink: 1;
    min-height: 0;
}

#main:has(.player-ui.open) {
    & > :not(.player-ui) {
        opacity: 0;
    }
}

@media (min-width: 800px) {
    .player-ui {
        flex-direction: row;
        .container {
            flex: 1 1;
            height: 100%;
        }
        .cover {
            height: calc(min(100%, 40dvw));
            width: unset;
        }
    }
}

@keyframes marquee {
    to {
        transform: translateX(var(--distance));
    }
}
