a[onclick] {
    color: #000;
}

[src^="http://"]:not(a):not(audio):not(video) {
    object-fit: contain;
}

#back {
    filter: hue-rotate(-31.5deg) brightness(1.52);
}

#el1 {
    flex-grow: 1;
}

#term, footer {
    font-family: "Cascadia Code", monospace;
    font-size: 12.5px;
}

footer {
    position: fixed;
    top: calc(100% - 1.2em);
    background: #ccc;
    color: #000;
    left: 0;
    width: 100%;
    height: 1.2em;
    overflow: hidden;
    padding: 0 .3em;
    border-top: .5px solid #FFFA;
    text-overflow: ellipsis;
    white-space: nowrap;
}

span:nth-child(2) {
    min-width: 0; 
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

#frame * {
    position: relative;
}

.player, .player span, li {
    gap: 5px;
}

.player span {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.player > :not(:nth-child(2)), button {
    flex-shrink: 0;
}

.player button {
    width: 2em;
    height: 2em;
}

.popup {
    backdrop-filter: blur(3em);
    background: #111D;
    padding: 1em;
    box-shadow: 0 0 0 100vmax rgba(0,0,0,.5);
    opacity: .96;
    position: fixed;
}

.bar {
    * {
        user-select: auto;
    }
    :first-child {
        min-height: calc(4em/3);
        text-wrap: pretty;
        overflow-x: hidden;
    }
}

[data-title="Shortcuts"] {
    li {
        > :first-child {
            font-style: italic;
        }
        > :last-child {
            justify-content: end;
            text-align: end;
        }
        &:first-child {
            font-weight: bold;
            a { font-style: normal }
            span { text-decoration: underline; color: burlywood }
        }
        &:not(:first-child) a {
            font-family: monospace;
            line-height: 1.5em;
            color: burlywood;
        }
    }
}

:root {
    word-break: auto-phrase;
}

.hidden {
    display: none!important;
}

.lyrics {
    overflow-y: auto;
    font-size: large;
}

.lyrics .lyrics-text {
    color: #aaa;
    margin: 3px;
    font-size: 100%;
    text-wrap: pretty;
}

.lyrics .lyrics-text.active {
    color: white;
    font-weight: bold;
}

.lyrics .lyrics-text div {
    color: inherit;
}

.pending {
    position: absolute;
    opacity: 0;
    z-index: -100;
}
