* {
    box-sizing: border-box;
    --rot: -90deg;
    --gradyr: rgba(160,60,180,1) 0%, #f02040 50%, rgba(255,221,69,1) 100%;
    --gradbg: rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%;
    --colors: rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 66%, rgba(255, 212, 112, 1) 100%; 
    --gradient: rgba(49, 39, 89, 1) 0%, rgba(237, 78, 126, 1) 66%, rgba(247, 212, 116, 1) 100%;
    --gradcols: var(--gradient);
    --font: system-ui, serif;
    color: #ccc;
    user-select: none;
}

body {
    backdrop-filter: blur(7.27em) grayscale(.1);
    background: linear-gradient(calc(222deg + var(--rot)), var(--gradcols));
    height: 100svh;
    display: flex;
    margin: 0;
    font-family: var(--font);
}

#main {
    width: 500px;
    height: 800px;
    max-width: calc(100svw - 2em); 
    max-height: calc(100svh - 2em);
    margin: 1em auto;
    padding: 1em;
    background: #222;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-self: center;
    box-shadow: inset 0 0 .9em 0 rgba(0,0,.2);
}

#back {
    scale: 161%;
    margin-right: .6em;
}

audio {
    max-height: 32px;
    width: 100%;
    margin: .6em 0;
}

form {
    display: flex;
    width: 100%;
}

input, button, li {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 0 .3em;
    font-family: var(--font);
    background: #111;
}

.player button {
    width: 2em;
    height: 2em;
    font-size: larger;
}

.player {
    width: 100%;
    display: flex;
}

.player span:not(:nth-child(2)) {
    min-width: 84px;
}

#term {
    flex-grow: 1;
    padding: .3em;
}

#btn {
    width: 4em;
}

#lel1 {
    margin-right: .3em;
}

#el1 {
    text-align: center;
    font-weight: bold;
    color: mediumvioletred;
    white-space: unset;
    flex-grow: unset;
}

#porthole {
    display: none;
}

#frame {
    margin: 0 auto;
    overflow: auto;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
}

ul {
    list-style: none;
    font-size: larger;
    padding: 0 .4em;
    margin: 5px 0;
    overflow: auto;
}

li {
    margin: 5px;
    padding: .3em;
    cursor: pointer;
}

a {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
}

#frame a {
    background: linear-gradient(calc(222deg + var(--rot)), var(--gradcols));
    background-clip: text;
    color: #ccc6;
    display: block;
    width: 100%;
}

h3 {
    margin: 5px 0;
}

#main, .popup {
    filter: drop-shadow(1px 2px 4px #0003);
}

audio, li, button, input:not([type="radio"]), footer {
    box-shadow: 0 0 .4em 0 rgba(0,0,0,.3);
    filter: drop-shadow(1px 2px 4px #0003);
}

button {
    --scale: 1.05;
}

li, button, input {
    transition: scale .05s;
}

li:hover, #term:focus {
    scale: 1.01;
}

li:active {
    scale: 1.02;
}

button:active, #btn:active {
    scale: 1.1;
}

.r-10fj5tc {
    display: none;
}

.popup {
    border-radius: 5px;
    .bar > button {
        width: 24.667px;
        height: 24.667px;
    }
}

@media only screen and (max-width: 600px) {
    body, ul {
      font-size: 1.333rem;
    }
    #main {
        height: calc(100svh - 2em);
    }
    input {
        font-size: 1.2rem;
    }
}

@keyframes spawn {
    from {
        transform: translateY(1.2em);
        height: 0;
    }
    to {
        transform: none;
        height: 1.2em;
    }
}

footer {
    animation: spawn calc(1s / 30) ease-in-out forwards;
}
